@import 'variables.scss';

body, html {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.el-checkbox__inner::after {
  border-width: 2px;
}

.sidebar__scrollbar__list {
  padding-bottom: 10px;
  padding-right: 10px;
}
